<p>
  <strong>Commenter:</strong>
  <%= comment.author.username %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<p>
<% if policy(@article).update? %>
<%= link_to 'Destroy Comment', [comment.article, comment],
            method: :delete,
            data: { confirm: "Are you sure?" } %>
    <% end %>
</p>
