<h1><%= @article.title %></h1>

<p>
  <strong>Author:</strong>
  <%= @article.author.username%>
</p>
<p>

  <%= image_tag(@article.image, width: 475) if (@article.image.attached?)%>
</p>
<p><%= @article.body %></p>

<p>
  <% if policy(@article).update? %>
    <%= link_to "Edit", edit_article_path(@article) %> |
    <% end %>
  <% if policy(@article).destroy?%>
    <%= link_to "Destroy", article_path(@article),
                          method: :delete,
                          data: { confirm: "Are you sure?" } %>
  <% end %>
</p>


<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to "Back", root_path %>