<!DOCTYPE html>
<html>
  <head>
    <title>WhosDown</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>

  <body>
.......
  <header>
    <% if user_signed_in?%>
      <%= current_user.username %> | 
      <%= link_to 'Log out', destroy_user_session_path, 
                  method: :delete, data: {confirm: 'Are you sure?'}%>
    <% else %>
      <%= link_to 'Log in', new_user_session_path%> 
    <% end%>
    <%= form_with url: search_articles_path, method: :get do %>
      <%= search_field_tag :search, params[:search], placeholder: "Search..." %>
    <% end %>
  </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>

